mixin card({seccion, title, description, btn, image})
    .bg-gray 
        .card.wrapper
            .card__content 
                h3.card__seccion=seccion
                h2.card__title=title
                p.card__description=description
                .text__center
                    button.card__btn=btn
            figure.card__figure 
                img.card__img(src=image, alt="image-card")