mixin form({tab, title, arrival, departure, guests, description, submit, link})
    include _svgs
    
    .form#form 
        .form__tab  
            button#form-tab.form__button.form__button-tab
                span=tab  
        .form__content
            button#form-close.form__close
                 +svgs('x')
            h3.form__title=title 
            form#form-inputs 
                .form__group 
                    label.form__label(for="arrival")=arrival 
                    .position__relative
                        input#arrival.form__input.form__input-date(type="date"  min="" required)
                        span.form__icon 
                            +svgs('calendar')
                .form__group 
                    label.form__label(for="departure")=departure
                    .position__relative
                        input#departure.form__input.form__input-date(type="date"   required)
                        span.form__icon 
                            +svgs('calendar')
                .form__group 
                    label.form__label=guests
                    .form__selects
                        .position__relative
                            select#adult.form__input.form__input-select(name="adult" required)
                                option(value="1"  selected)='1 adult'
                                each option in [2,3,4,5]  
                                    option(value=option)=option + ' adults'
                            span.form__icon.form__icon-arrow
                                +svgs('dropdown')
                        .position__relative
                            select#child.form__input.form__input-select(name="child" ) 
                                option(value="0"  selected)='0 child' 
                                each option in [1,2,3,4,5]  
                                    - var text = option == 1 ? ' child' : ' children'
                                    option(value=option)=option + text
                            span.form__icon.form__icon-arrow
                                +svgs('dropdown')
                p.form__description=description
                .form__submit 
                    button(type="submit").form__button.form__button-red=submit
            #form-succesful.form__succesful.displayNone
                h2
                    | Thank you for preferring us, your reservation is made!,
                    br 
                    | if you want make other reserve click on "OR,BOOK YOUR GROUP"
            .form__link
                a.form__linkText(href="/")=link
                    +svgs('longarrow')
            .form__background
            
        
                